<!DOCTYPE html>
<html>
<head>
  <title>Ums</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "ums/application", media: "all" %>
  <%= javascript_include_tag "ums/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
